In [1]:
import pandas as pd
import numbers as np
import matplotlib.pyplot as plt
import pandas_datareader as data

plt.style.use('fivethirtyeight')
%matplotlib inline

In [4]:
import yfinance as yf
import datetime as dt

stock = "NVDA"
start = dt.datetime(2022, 12, 24)
end = dt.datetime(2024, 12, 25)

yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-27,15.074000,15.100000,14.056000,14.121000,14.110738,464902000
2022-12-28,13.927000,14.262000,13.884000,14.036000,14.025799,351066000
2022-12-29,14.402000,14.683000,14.227000,14.603000,14.592384,354923000
2022-12-30,14.334000,14.629000,14.233000,14.614000,14.603377,310490000
2023-01-03,14.851000,14.996000,14.096000,14.315000,14.304595,401277000
...,...,...,...,...,...,...
2024-12-18,133.860001,136.699997,128.279999,128.910004,128.910004,277444500
2024-12-19,131.759995,134.029999,129.550003,130.679993,130.679993,209719200
2024-12-20,129.809998,135.279999,128.220001,134.699997,134.699997,306528600
2024-12-23,136.279999,139.789993,135.119995,139.669998,139.669998,176053500
2024-12-24,140.000000,141.899994,138.649994,140.220001,140.220001,105157000